<div class="short-news-of-the-day">
  <img class="short-news-of-the-day__picture" src="assets/images/motivational__picture.png" alt="short-news-of-the-day_picture">
  <div class="short-news-of-the-day__header">
    <h1 class="short-news-of-the-day__text">
      {{ this.lastNewsItem.news_name }}
    </h1>
    <app-additional-info
      *ngIf="!isItGeneralPage"
      [newsItem]="lastNewsItem"
    ></app-additional-info>
  </div>
  <audio class="short-news-of-the-day__audio" controls src="assets/music/Template.mp3"> </audio>
  <div>
    <h3 class="short-news-of-the-day__listen-on-text">Listen on</h3>
    <div class="short-news-of-the-day__social-media">
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
