<!--todo add aditional info-->

<!--todo add first element of massive news will be the short new-->

<div class="short-news-of-the-day">
  <img class="short-news-of-the-day__picture" src="assets/images/motivational__picture.png" alt="short-news-of-the-day_picture">
  <div class="short-news-of-the-day__header">
    <h1 class="short-news-of-the-day__text">
      How to rapidly test any experience!
    </h1>
<!--    <div class="additional-info">-->
<!--      <div class="additional-info__category">-->
<!--        Business-->
<!--      </div>-->
<!--      <div>|</div>-->
<!--      <div class="additional-info__data">-->
<!--        Jan 18, 2021-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <audio class="short-news-of-the-day__audio" controls src="assets/music/Template.mp3"> </audio>
  <div>
    <h3 class="short-news-of-the-day__listen-on-text">Listen on</h3>
    <div class="short-news-of-the-day__social-media">
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
