@import "mixins";

.general-body {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: var(--text-color);
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__main {
    flex: 1 1 auto;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
  }

  &__footer {
    display: flex;
    position: relative;
  }
}

@include mobile {
  .layout {
    &__header {
      padding: 24px 16px;
    }
  }
}

@include desktop {
  .layout {
    &__header {
      display: flex;
      padding: 39px 150px;
    }
  }
}
