<!--Это что?-->
<script src="../../app-routing.module.ts"></script>
<div class="layout">
  <header class="layout__header">
    <app-menu
      [isItMobile]="isItMobile"
      (isPopupHidden)="getHamburgerState($event)"
    ></app-menu>
    <div class="spacer"></div>
<!--    Условие переписать проще можно-->
    <div class="header__navbar" *ngIf="(isItMobile && !isPopupHidden) || !isItMobile">
      <app-nav [isItMobile]="isItMobile"></app-nav>
    </div>
  </header>

  <main class="layout__main">
<!--    Писал по этому поводу-->
    <app-notify
      [isHeaderInViewport]="isHeaderInViewport"
    ></app-notify>
    <div class="layout__wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="layout__footer">
    <app-about-site></app-about-site>
  </footer>
</div>

