<script src="comment-sending-form.component.ts"></script>
<form class="form" (ngSubmit)="submit()" [formGroup]="form">
  <div *ngIf="form.get('message') as message">
    <label class="form__label form__user-text">
      Comment
      <textarea
        class="form__textarea form__field"
        formControlName="message"
      ></textarea>
    </label>
    <app-form-error *ngIf="message.invalid && message.dirty" [error]="message.errors"></app-form-error>
  </div>

  <div *ngIf="form.get('userName') as userName">
    <label class="form__label">Name*
      <input
        class="form__input form__field"
        type="text"
        formControlName="userName"
      >
    </label>
    <app-form-error *ngIf="userName.invalid && userName.dirty" [error]="userName.errors"></app-form-error>
  </div>

  <div *ngIf="form.get('userEmail') as userEmail">
    <label class="form__label">Email*
      <input
        class="form__input form__field"
        type="email"
        formControlName="userEmail"
      >
    </label>
    <app-form-error *ngIf="userEmail.invalid && userEmail.dirty" [error]="userEmail.errors"></app-form-error>
  </div>

  <div>
    <button
      class="form__button"
      type="submit"
    >
      Send
    </button>

    <div class="form__error-message" *ngIf="isButtonWarningOn">Please fill all fields*</div>
  </div>
</form>
