<form class="form">
  <label class="form__label form__user-text">
    Comment
    <textarea class="form__textarea form__field"></textarea>
  </label>
  <label class="form__label">Name*
    <input class="form__input form__field" type="text">
  </label>
  <label class="form__label">Email*
    <input class="form__input form__field" type="email">
  </label>
  <label class="form__label">Website*
    <input class="form__input form__field" type="url">
  </label>
  <label class="form__label-checkbox">
    <input type="checkbox">
    Save my name, email, and website in this browser for the next time I comment
  </label>
  <div>
    <button class="form__button">
      Send
    </button>
  </div>
</form>
