@import "mixins";

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px;
    background: var(--background-text-color);
  }
}
