<div class="news">
  <app-additional-info
    [isItShortNews]=true
    [newsItem]="currentNewsItem"
  ></app-additional-info>
  <div class="news__general-info">
    <div class="news__header">
      <a [routerLink]="['/details', currentNewsItem.id]" class="news__url spacer">
        <h2 class="news__title">
          {{ currentNewsItem.news_name }}
        </h2>
      </a>
      <app-tags
        *ngIf="!checkIsItMobileResolution()"
        [tags]="currentNewsItem.tags"
      ></app-tags>

    </div>
    <div class="news__short-description">
      {{ currentNewsItem.short_describtion }}
    </div>
    <app-tags
      *ngIf="checkIsItMobileResolution()"
      [tags]="currentNewsItem.tags"
    ></app-tags>
  </div>
</div>
