<div class="news">
  <app-additional-info
    [category]="new.category"
    [data]="new.data"
  ></app-additional-info>
  <div class="news__general-info">
    <div class="news__header">
      <a [routerLink]="['/news-details', new.id]" class="news__url spacer">
        <h2 class="news__title">
          {{ new.news_name }}
        </h2>
      </a>
      <app-tags
        *ngIf="!isMobileResolution()"
        [tags]="new.tags"
      ></app-tags>
    </div>
    <div class="news__short-description">
      {{ new.short_describtion }}
    </div>
    <app-tags
      *ngIf="isMobileResolution()"
      [tags]="new.tags"
    ></app-tags>
  </div>
</div>
