<div class="news">
  <app-additional-info
    [isItShortNews]=true
    [setNewsItem]="currentNewsItem"
  ></app-additional-info>
  <div class="news__general-info">
    <div class="news__header">
      <a [routerLink]="['/details', currentNewsItem.id]" class="news__url spacer">
        <h2 class="news__title">
          {{ currentNewsItem.newsName }}
        </h2>
      </a>
      <app-tags
        *ngIf="_mobileService.isDesktop$() | async"
        [tags]="currentNewsItem.tags"
      ></app-tags>

    </div>
    <div class="news__short-description">
      {{ currentNewsItem.shortDescribtion }}
    </div>
    <app-tags
      *ngIf="!(_mobileService.isDesktop$() | async)"
      [tags]="currentNewsItem.tags"
    ></app-tags>
  </div>
</div>
