.additional-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;

  &__new {
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: var(--selection-text-color);
    background: var(--background-text-color);
    border-radius: 3px;
    padding: 7px;
    letter-spacing: 0.115em;
    text-transform: uppercase;
  }
}