@import "mixins";

.comment {
  display: flex;
  gap: 24px;

  &__describe {
    display: flex;
    flex-direction: column;
    gap: 12px
  }

  &__user-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
  }

  &__data {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &__message {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}