<div class="additional-info">
  <div *ngIf="isItShortNews && isNewsNew" class="additional-info__new">
    New
  </div>
  <div class="additional-info__data spacer">
    {{ newsItem.category }} | {{ newsItem.date | date:'mediumDate' }}
  </div>
  <div *ngIf="isItShortNews">
    <a [routerLink]="['/edit', newsItem.id]" class="additional-info__link"><i
      class="fa-sharp fa-solid fa-pen-to-square"></i></a>
    <a [routerLink]="['/remove', newsItem.id]" class="additional-info__link"><i class="fa-solid fa-xmark"></i></a>
  </div>
</div>
