<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <div *ngIf="form.get('news_name') as news_name">
    <label class="form__label">Name of the news*
      <input
        class="form__input form__field"
        formControlName="news_name"
        type="text"
      />
    </label>
    <app-form-error *ngIf="news_name.invalid && news_name.dirty" [error]="news_name.errors"></app-form-error>
  </div>

  <div *ngIf="form.get('short_describtion') as short_describtion">
    <label class="form__label form__user-text">
      Short-describtion*
      <textarea
        class="form__textarea form__field"
        formControlName="short_describtion"
      ></textarea>
    </label>
    <app-form-error *ngIf="short_describtion.invalid && short_describtion.dirty" [error]="short_describtion.errors"></app-form-error>
  </div>

  <div>
    <label class="form__label">Category*
      <select class="form__category" (change)="onCategorySelected($event)">
        <option *ngFor="let category of categories"
                [selected]="category.category_name == selectedCategory"
                value="{{category.category_name}}">
          {{category.category_name}}
        </option>
      </select>
    </label>
  </div>

  <div *ngIf="form.get('full_news') as full_news">
    <label class="form__label form__user-text">
      Full-news*
      <textarea
        class="form__textarea form__field"
        formControlName="full_news"
      ></textarea>
    </label>
    <app-form-error *ngIf="full_news.invalid && full_news.dirty" [error]="full_news.errors"></app-form-error>
  </div>

  <div *ngIf="form.get('audio_name') as audio_name">
    <label class="form__label">Load audio*
      <input
        class="form__input form__field"
        formControlName="audio_name"
        type="text"
      />
    </label>
    <app-form-error *ngIf="audio_name.invalid && audio_name.dirty" [error]="audio_name.errors"></app-form-error>
  </div>

  <div *ngIf="form.get('img_name') as img_name">
    <label class="form__label">Load general img*
      <input
        class="form__input form__field"
        formControlName="img_name"
        type="text"
      />
    </label>
    <app-form-error *ngIf="img_name.invalid && img_name.dirty" [error]="img_name.errors"></app-form-error>
  </div>

  <div>
    <label class="form__label">Enter tags separated by space
    <input
      class="form__input form__field"
      formControlName="tags"
      type="text"
    />
    </label>
  </div>

  <div>
    <label class="form__label-checkbox">
      <input type="checkbox"
             [checked]=areCommentsDisabled
             (change)="areCommentsDisabled = !areCommentsDisabled"
             formControlName="are_comments_disabled"
      />
      Are comments disabled?
    </label>
  </div>

  <div>
    <button
      class="form__button"
      type="submit"
    >Send
    </button>

    <div class="form__error-message" *ngIf="isButtonWarningOn">Please fill all fields*</div>
  </div>
</form>
