<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <div>
    <label class="form__label">Name of the news*
      <input
        class="form__input form__field"
        formControlName="news_name"
        type="text"
      />
    </label>
  </div>

  <div>
  <label class="form__label form__user-text">
    Short-describtion*
    <textarea
      class="form__textarea form__field"
      formControlName="short_describtion"
    ></textarea>
  </label>
  </div>

  <div>
    <label class="form__label">Category*
      <select class="form__category" (change)="onCategorySelected($event)">
        <option *ngFor="let category of categories"
                [selected]="category.category_name == selectedCategory"
                value="{{category.category_name}}">
          {{category.category_name}}
        </option>
      </select>
    </label>
  </div>

  <div>
    <label class="form__label form__user-text">
      Full-news*
      <textarea
        class="form__textarea form__field"
        formControlName="full_news"
      ></textarea>
    </label>
  </div>

  <div>
    <label class="form__label">Load audio
      <input type="file"/>
    </label>
  </div>

  <div>
    <label class="form__label">Load general img
      <input type="file"/>
    </label>
  </div>

  <div>
    <label class="form__label">Enter tags separated by space
    <input
      class="form__input form__field"
      formControlName="tags"
      type="text"
    />
    </label>
  </div>

  <div>
    <label class="form__label-checkbox">
      <input type="checkbox"
             [checked]=areCommentsDisabled
             (change)="areCommentsDisabled = !areCommentsDisabled"
             formControlName="are_comments_disabled"
      />
      Are comments disabled?
    </label>
  </div>

  <div>
    <button
      class="form__button"
      type="submit"
    >Send
    </button>
  </div>
</form>
