<div class="about-site">
  <div class="about-site__created-by-text">
    Created by VitaThemes and Vasin Yuriy | Privacy policy
  </div>
  <div class="about-site__contacts">
    <a href="#"  class="about-site__contacts-item">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#"  class="about-site__contacts-item">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="#"  class="about-site__contacts-item">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</div>
