@import "buttons";
@import "utils";

body {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

:root {
  --primary-color: #222222;
  --container-bg-color: #FFFFFF;
  --border-color: #EAEAEE;
  --background-text-color:  #F5F5F7;
  --selection-text-color: #7247CA;
  --headers-text-color: rgba(0, 0, 0, 1);
  --text-color: rgba(85, 85, 85, 1);
}

.bar-links__item{
  @include button-clear;
}

.bar-links__categories-button {
  @include button-clear;
}

.menu__hamburger {
  @include button-clear;
}

.tags__item {
  @include button-clear;
}
