@import "mixins";

.menu {
  display: flex;

  &__logo {
    width: 93px;
  }

  &__general-navbar {
    display: flex;
    align-items: center;
  }
}

@include mobile {
  .menu {
    flex-direction: column;
  }
}
