<div class="menu">
  <div class="menu__general-navbar">
    <a routerLink="/"><img alt="logo" class="menu__logo" src="assets/images/logo.png"></a>

    <div class="spacer"></div>

    <button (click)="isPopupHiddenCounter = !isPopupHiddenCounter" *ngIf="!(_mobileService.isDesktop$() | async)"
            class="menu__hamburger">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="spacer"></div>
  <div *ngIf="!isPopupHiddenCounter || (_mobileService.isDesktop$() | async)" class="menu__navbar">
    <app-nav></app-nav>
  </div>
</div>
