@import "mixins";

.menu {
  display: flex;
  align-items: center;

  &__logo {
    width: 93px;
  }
}

@include desktop {
  .menu {
    &__hamburger {
      // Для этого есть ngIf, в паре с breakPoint observer можно добить этого эффекта
      display: none !important;
    }
  }
}
