<div class="bar-links">
  <div class="bar-links__more-links bar-links__item">
    <div class="bar-links__popup">
      <button class="bar-links__categories-button bar-links__text-item bar-links__double-items">
        Categories
        <i class="fa-solid fa-chevron-up"></i>
      </button>
      <app-categories-list></app-categories-list>
    </div>
  </div>

  <button class="bar-links__item bar-links__text-item bar-links__donate bar-links__link bar-links__double-items">
    <i class="fa-regular fa-heart"></i>
    Donate
  </button>

  <a routerLink="/adding-news" class="bar-links__item bar-links__text-item bar-links__link ">Send your news</a>
</div>
