<div class="bar-links">
  <div class="bar-links__more-links bar-links__item">
    <div class="bar-links__popup">
      <button
        class="bar-links__categories-button bar-links__text-item bar-links__double-items"
        (click)="onClickCategories()"
      >
        Categories
        <i class="fa-solid fa-chevron-up" *ngIf="!isPopupHidden"></i>
        <i class="fa-solid fa-chevron-down" *ngIf="isPopupHidden"></i>
      </button>
      <app-categories-list
        *ngIf="(isItMobile && !isPopupHidden) || !isItMobile"
      ></app-categories-list>
    </div>
  </div>

  <button class="bar-links__item bar-links__text-item bar-links__donate bar-links__link bar-links__double-items">
    <i class="fa-regular fa-heart"></i>
    Donate
  </button>

  <a class="bar-links__item bar-links__text-item bar-links__link " routerLink="/add">Send your news</a>
</div>
