@import "_mixins.scss";
@import "_fonts.scss";

.bar-links {
  display: flex;
  gap: 39px;

  &__link {
    text-decoration: none;
  }

  &__donate {
    display: flex;
    gap: 6px;

    &:hover {
      color: var(--selection-text-color);
    }
  }

  &__more-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-item {
    color: var(--text-color);
    @include i-font-SSP-bw-sm;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__double-items {
    display: flex;
    gap: 8px;
  }
}

@include desktop {
  .bar-links {
    gap: 39px;
  }
}

@include mobile {
  .bar-links {
    flex-direction: column;
  }
}