@import "_mixins.scss";

.categories-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--text-color)
  }
}

@include mobile {
  .categories-list {
    align-items: center;
  }
}

@include desktop {
  .categories-list {
    width: 100px;
    background: var(--container-bg-color);
    border: 1px solid var(--border-color);
    position: absolute;
  }
}