@import "_mixins.scss";
@import "_fonts.scss";

.comments {
  display: flex;
  flex-direction: column;
  width: 100%; // лишнее
  // как и в программировании магические значения в css лучше избегать
  // причем я вижу это значение не один раз, стало быть идеально чтобы вынести как переменную с хорошим именем
  max-width: 670px;
  &__header {
    @include i-font-SSP-w-lg;
  }
}

