/*
    small width (sw)
    width - 400 (w)
    big width - 600 (bw)

    Extra small (xs)
    Small (sm)
    Medium (md)
    Large (lg)
    Extra large (xl)
    Extra extra large (xxl)
 */

@mixin i-font-SSP-bw-xs{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
}

@mixin i-font-SSP-bw-sm{
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

@mixin i-font-SSP-w-md{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@mixin i-font-SSP-w-lg{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

@mixin i-font-SSP-bw-xl{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
}

@mixin i-font-Oswald-w-xs{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
}