@import "_mixins.scss";
@import "_fonts.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__textarea {
    max-width: 100%;
    height: 150px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    @include i-font-SSP-w-lg;
  }
  &__label-checkbox {
    @include i-font-SSP-w-lg;
    accent-color: var(--primary-color);
  }
  &__field {
    background: var(--background-text-color);
    border: 0px; // лучше border: none, это стандартнее
  }
  &__button {
    width: 90px; // это плохо, кнопка не может ограничиваться таким образом, т.к. контента может быть больше, корректнее через padding задать отступ слева справа, а то текста может быть явно больше чем сейчас по дизайну у тебя
    height: 34px;
    color: white;
    background: var(--selection-text-color);
    outline: none;
    border-radius: 4px;
  }
}

@include mobile {
  .form{
    width: 288px;
  }
}

@include desktop {
  .form {
    width: 670px;
  }
}