@import "_mixins.scss";
@import "_fonts.scss";

.full-news {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
  max-width: 670px;
  gap: 14px;

  &__title {
    @include i-font-SSP-bw-xl;
    color: var(--primary-color);
  }

  &__short-description {
    @include i-font-SSP-w-lg;
  }
  &__general-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__pagination {
    display: flex;
    gap: 2px;
  }

  &__page-number {
    @include i-font-SSP-w-md;
    padding: 8px;
    background: var(--background-text-color);
    text-decoration: none;
    color: var(--primary-color);
  }

  &__url {
    text-decoration: none;
    z-index: 100;
  }

  &__full-text {
    @include i-font-SSP-w-lg;
  }
}



