@import "_mixins.scss";

.news-dashboard {
  display: flex;
  justify-content: center;
}

@include mobile {
  .news-dashboard {
    &__spacer {
      display: none;
    }
  }
}

@include desktop {
  .news-dashboard {
    &__general-info {
      position: relative;
    }

    &__tags {
      position: absolute;
    }
  }
}
