@import "mixins";

.news-dashboard {
  display: flex;
  flex-direction: column;
}

@include mobile {
  .news-dashboard {
    gap: 48px;
    &__spacer {
      display: none;
    }
  }
}

@include desktop {
  .news-dashboard {
    gap: 70px;
    &__general-info {
      position: relative;
    }

    &__tags {
      position: absolute;
    }
  }
}
