@import "_mixins.scss";

.wrapper {
  display: flex;
  max-width: 670px;
  margin: 0 auto;
  flex: 1 1 auto;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

@include desktop {
  .wrapper {
    padding-top: 100px;
    gap: 100px;
    padding-bottom: 100px;
  }
}

@include mobile {
  .wrapper {
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}